Package: Sipgateway-${project.version}
Version: ${project.version}
Section: base
Priority: optional
Maintainer: Upptalk
Depends: base-files
Architecture: all
Description: Sipgateway component
 Sipgateway component
